[Unit]
Description=SGP30 Air Quality Display sensor
After=multi-user.target
After=mosquitto.service

[Service]
ExecStart=/home/pi/SimplePiAQSensor/AQSensor.sh
User=pi
WorkingDirectory=/home/pi/SimplePiAQSensor
Type=notify
NotifyAccess=all
TimeouotStartSec=30
Restart=on-abnormal
#Environment="MQTT_HOST=192.168.1.100"

[Install]
WantedBy=multi-user.target
